<div class="centered-content">
    <div class="modal-box">
        <h1 class="title"> Create new note</h1>

        <div class="field is-grouped">
            <p class="control is-expanded">
                <input #noteTitleInput class="input has-background-light is-medium" type="text" placeholder="Enter new note name">
            </p>
            <p class="control">
                <a class="button is-primary is-medium has-text-white" (click)="createNote(noteTitleInput.value)"> Create </a>
            </p>
        </div>
        <button routerLink="/" class="button" style="margin-top: 20px">Back</button>
    </div>
</div>
